
#cabeza{
    background-color:rgb(15, 90, 252);
    font: normal 1.2em "Segoe UI",Roboto,"Helvetica Neue";
    color: white;
}

#cuerpo {
    background-color: rgb(197, 230, 241);
    height: 600px;
    width: 98%;
    margin: auto; 
    padding-left: 15px;
    padding-top: 15px;
}

#box1{
    height: 250px;
    width: 500px;
    /*float:left;*/
    margin: auto;
    text-align: center;
    font: normal 1.5em "Segoe UI",Roboto,"Helvetica Neue";
}

#box2{
    background-color: orange;
    height: 50px;
    width: 250px;
    /*float:left;*/
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font: normal 1em Verdana, Geneva, sans-serif;
}

#footer{
    color: gray;
}